#
# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0
#

service msim_sh /vendor/bin/init.qcom.msim.sh
    user root
    group root
    oneshot

on post-fs
    # radio
    exec_start msim_sh
    setprop persist.radio.multisim.config ${vendor.radio.multisim.config}

on property:vendor.post_boot.parsed=1
    # IRQ Tuning
    # IRQ 243: msm_drm0
    # IRQ 222: kgsl_3d0_irq
    write /proc/irq/243/smp_affinity_list 2
    write /proc/irq/240/smp_affinity_list 1

# CPUFreq
    write /sys/devices/system/cpu/cpufreq/policy0/walt/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/walt/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy4/walt/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy4/walt/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/policy7/walt/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy7/walt/down_rate_limit_us 20000

on property:sys.usb.config=adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x320D

on property:sys.usb.config=mass_storage && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x520D

on property:sys.usb.config=ptp && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0xA20D

on property:sys.usb.config=ptp,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0xB20D

on property:sys.usb.config=rndis,none && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x720D

on property:sys.usb.config=rndis,serial_cdev,diag && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=diag,diag_mdm,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mass_storage,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x520D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,diag,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=rndis,none,adb && property:sys.usb.configfs=1
    write /config/usb_gadget/g1/idVendor 0x0FCE
    write /config/usb_gadget/g1/idProduct 0x020D
